/**-------------------------navbar style-----------------------*/
body
{
	font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
}
.navbar
{
	background-color: #13bfb1!important;
	 border-bottom:#545454 2px solid;
	opacity: 0.9;
}
nav ul li a:link
{
	color: #fff!important;
}
nav ul li a:hover
{
	color: #545454!important;
}
.nav-item-link a:link
{
	color: #545454!important;
}
.nav-item-link a:hover
{
	color: #13bfb1!important;
	background-color: #fff;
}
.dropdown-menu 
{
    top: 112%;
}

/**-------------------------jumbotron style-----------------------*/
.container-fluid
{
	padding-right: 0px;padding-left: 0px;
    margin-top: 58px;
}
button
{
	background-color: #13bfb1!important;
}
input[type:search]:focus
{
	border-color: #13bfb1;
}
i
{
	color: #13bfb1;
}

/*-------------------------services-------------------------------*/
#team {
    background: #eee !important;
}
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #13bfb1;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border-bottom: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
    border-bottom: 4px #13bfb1 solid;

}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-bottom: 4px #13bfb1 solid;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 250px;
}

.frontside .card .card-title{
    color: #000 !important;
}

.backside .card .card-title {
    color: #13bfb1 !important;
}
/*----------------------best clinics-------------*/
.clinic-icon
{
	margin-bottom:2px;
}
.btn-more
{
	background-color:#13bfb1;
	border:none;
}
.btn-more:hover
{
	background-color:#fff;
	border:2px #13bfb1 solid;
	color: #13bfb1;
}
.i-dtl:hover
{
	color: #13bfb1;
}
.card
{
	margin-bottom: 15px;
}


