/**-------------------------navbar style-----------------------*/
body
{
	/*font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;*/
    font-weight: 400;
    font-style: normal;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Changa', sans-serif;

}
.navbar
{
	background-color: #13bfb1!important;
	 border-bottom:#545454 2px solid;
	opacity: 0.9;
}
nav ul li a:link
{
	color: #fff!important;
}
nav ul li a:hover
{
	color: #545454!important;
}
.nav-item-link a:link
{
	color: #545454!important;
}
.nav-item-link a:hover
{
	color: #13bfb1!important;
	background-color: #fff;
}
.dropdown-menu 
{
    top: 112%;
}

/**-------------------------jumbotron style-----------------------*/
.container-fluid
{
	padding-right: 0px;padding-left: 0px;
    margin-top: 58px;
}
button
{
	background-color: #13bfb1!important;
}
input[type:search]:focus
{
	border-color: #13bfb1;
}
i
{
	color: #13bfb1;
}
/*-------------------------services-------------------------------*/
#team {
    background: #eee !important;
}
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #13bfb1;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border-bottom: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
    border-bottom: 4px #13bfb1 solid;

}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-bottom: 4px #13bfb1 solid;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 250px;
}

.frontside .card .card-title{
    color: #000 !important;
}

.backside .card .card-title {
    color: #13bfb1 !important;
}

.card-img-top {
    width: 100%;
    min-height: 170px;
    height: auto;
    max-height: 170px;
    }
/*----------------------best clinics-------------*/
.clinic-icon
{
	margin-bottom:1px;
    line-height: normal;
}
.btn-more
{
	background-color:#13bfb1;
	border:none;
}
.btn-more:hover
{
	background-color:#fff;
	border:2px #13bfb1 solid;
	color: #13bfb1;
}
.i-dtl:hover
{
	color: #13bfb1;
}
.card
{
	margin-bottom: 50px;
}
/*----------------------slider-------------*/
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
}
.carousel-inner img 
{
    width: 100%;
    min-height: 500px;
    max-height: 500px;
}

.carousel-caption {color:#000;top:20%; bottom: auto; text-align:left;}
.carousel-caption h5 {
    color: #fff;
    margin-bottom: 100px;
    text-align: right;
}
.search-field
{
    margin-bottom: 0rem;
}
@media screen or(max-width: 425px){
.carousel-inner {    
    min-height: 500px;

}
.carousel-caption {top:5%; }
.carousel-inner img 
{
    width: 100%;
    min-height: 700px;
    max-height: 700px;
}
.search-field
{
    margin-bottom: 0.5rem;
}
}
.carousel-indicators
{
    bottom: 5px;
}
/************ Services **************/
img {width:100%;}


/*------------------counts----------------*/
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #13bfb1;
}

/*-----------------end counts-------------------*/
.p-y-2 {
    padding-top: 28px;
    padding-bottom: 28px;
}
.p-y-3 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.m-b-1 {
    margin-bottom: 18px;
}
.m-t-1 {
    margin-top: 18px;
}


            /*==========================================================
                           counter section style
            ============================================================*/

            .main_counter_area{
                background-color: #000;
                background-size: cover;
                overflow: hidden;
            }
            .main_counter_area .main_counter_content .single_counter{
                background: rgba(236, 72, 72, 0.5);
                    color: #fff;
            }
            .main_counter_area .main_counter_content .single_counter i{
                font-size:36px;
            }
/*------------------------footer style-----------------------------*/
/*footer*/
.col_white_amrc { color:#13BFB1;}
footer {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.1);
    min-height: 250px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid rgba(0,0,0,0.125);
    /*margin-top: 60px;*/
}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#545454; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#545454;}
.footer_ul_amrc li a:hover{ color:#13BFB1; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border {padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#CCC; margin:0 12px;}

.social_footer_ul { display:table; margin:10px auto 5px auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
/*---------------------------------------*/
/*section {
  width: 100%;
  height: 150vh;
}*/

/*-------------------end style of header, home, footer pages-----------------------------*/
/*-----------------------style of Register Doctor-------------------------------*/

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#545454;
    border-radius:0;

}
nav > div a.nav-item.nav-link, 
nav > div a.nav-item.nav-link.active 
{
    border-left: 1px #13bfb1 solid;
    border-top: 1px #13bfb1 solid;
    padding: 18px 25px;
    color: #545454;
    background: #fff;
    border-radius: 0;
}
nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #13bfb1 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #13BFB1;
    border-bottom:5px solid #13BFB1;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #13bfb1;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
input[type=text],input[type=number], input[type=password], input[type=email], select
{
    font-size: 1rem;
    border:1px #13bfb1 solid;

}
.error-msg
{
    color:#F90A0A;
    font-size:0.8rem;
  }
/*---------------------Display doctors-----------------------------*/
.lbl-doctor 
{
    font-size: small;
    margin-right: 2px;
}
.show-doctor
{
    font-weight: 200;

}
.doctor-img
{
    width: 70%;
    margin-top: 10px;
    min-height: 160px;
    height: auto;
    max-height: 160px;
}
.doctor-btn
{
    max-width:50%;
}
.page-link
{
    color: #13bfb1;
}
.page-item.active .page-link 
{
    background-color: #13bfb1;
    border-color: #fff;
}
/*----------------------doctor detail----------------------*/
.evalution-dtl
{
    margin-top:1rem;
    /*border-top: 1px solid rgba(0,0,0,0.125);*/
    padding-top:1rem;

}
.evalution-do
{
    margin-bottom:1rem;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.doctor-i-connection
{
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
.doctor-connection
{
    color:#fff!important; 
   /* margin-right:5px;*/
    font-size: large;
}
/*-------------------------------*/

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:3px solid #13bfb1;
    color: #545454;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
/*--------------------hospitals---------------*/
.hospital-row
{
    background-color: #fff;
    text-shadow: 0 0 black;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
@media screen or(max-width: 768px){
.hospital-row {  
    padding-bottom: 1rem;
}
.hospital-row > a:hover
{
    text-decoration: none;
}
/*---------------------signup/login styles-------------------------*/
.signup
{
    background-position: center;
    background-size: cover;
    padding: 15px;  
}

