
a{
	color:red;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1rem;
}
.doctor-box-1 {
    position: relative;
    margin: 20px 0px;
}
.doctor-box-1 .img-responsive{
    max-width: 100%;
}
.container-fluid-1{
    margin: 
}

.doctor-box-1 .doctor-details {
    position: absolute;
    top: 80%;
    text-align: center;
    width: 100%;
    background-color: #007bff;
    padding: 10px 0px;
    border: 5px solid #f7f7f7;
    transition: 350ms ease all;
}
.doctor-box-1 .doctor-profile {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 32px 0px;
    top: 100%;
    /*visibility: hidden;
    opacity: 0;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;*/
}
.doctor-contact {
    background-color: #007bff;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.contact-list {
    list-style: none;
    padding: 0px;
    font-size: 16px;
}
.contact-list li {
    padding-bottom: 8px;
    overflow: hidden;
}
.doctor-img {
    max-height: 70%;
    width: 100%; 
}


/********home style*****/
.back-img{    
    width: 100%;
     height: 100%;
     background-size: cover;
}
.doctor-font{
color: #FFF;
}
.jumbotron {
    position: relative;
    padding: 100px 0px;
    margin: 0px;
    background-size: cover;
    background-position: center center;
}
.container1{
    padding-right: 0; 
     padding-left: 0; 
     max-width:100%;}

     
.jumbotron h1 {
    font-size: 56px;
    padding-top: 100px;
    color:#000;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.jumbotron1{
 border-radius:unset; 
}
.slider-box-appointment {
    border-radius: 5px;
    overflow: hidden;
    background-color: #007bff;
    padding: 40px 21px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    margin: 20px 0px;
}
.slider-box-appointment .header .heading {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Volkhov', serif;
    color: #1a1a1a;
    text-transform: capitalize;
    margin-top: 0em;
    margin-bottom: 0.8em;
    line-height: 1.2;
}
hr.hr-2 {
    border-bottom: 2px solid #fff;
    width: 50px;
}

hr {
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
    margin: 25px auto;
}
.book-input{
    font-size: 0.8rem;
}
.home-services {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #303b41;
}
.inverse {
    color: #fff;
}
.department-list {
    list-style: none;
    padding: 0px;
    /*margin-left: 2%;*/
}
.department-list li {
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.department-list li > a {
    display: block;
}
a {
    color: #007bff;
}
.department-list li .list-icon {
    color: #fff;
    background-color: #007bff;
}
.department-list li .list-icon, .department-list li .list-text {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
}
.department-list li .list-icon em {
    font-size: 40px !important;
}
.home-call{
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
}
.home-call .right i, .home-call .right .call-us {
    display: table-cell;
    vertical-align: middle;
}
@media only screen and (min-width: 768px)
.home-call .right, .home-call .left {
    text-align: left;
}
@media only screen and (min-width: 768px)
.home-call .right, .home-call .left {
    text-align: left;
}
@media only screen and (min-width: 768px)
.home-call .right i, .home-call .right .call-us {
    display: table-cell;
    vertical-align: middle;
}
.home-call .right .call-us {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}
.font20 {
    font-size: 20px;
}

.input-fields{
    border: 1.3px solid #007bff
}
 .modal-header, h4, .close {
    background-color: #007bff;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
 .nav-admin li a{
    color:#fff;
  }
  /*---------------------------------*\
            My styles
  \*---------------------------------*/
body
{
    font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif!important;
}
nav a:hover
{
    color: #545454!important;
    text-decoration: none;
}
.banner h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.line {
    width: 86px;
    height: 2px;
    display: block;
    background-color: #13BFB1;
}
.my-color
{
background-color:#13BFB1!important;
}
.search-container {
    background-color: #13bfb1;
    height: 77px;
    max-width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    /* margin-top: 50px; */
}
.search-container input[type=search]
{
    width: 90%;
}
@media screen and (max-width: 1000px) {
  
    .search-container {
    max-width: 100%;
        height: fit-content;
}
.search-container input[type=search], .search-container button[type=submit]
{
    width: 100%;
    display: block;
    margin-bottom: 5px;

}


}
a:link
{
    color: #13bfb1!important;
}


